
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Cabin);


body
{
  background-color: #252525;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

#header
{
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 48px;
  color: #cccccc;
}

p
{
  font-size: 20px;
  color: #cccccc;

}

.button {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  text-shadow: 4px 1px 3px #666666;
  border: solid #ede8ea 3px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fcf7f9), to(#422f37));
  background: -moz-linear-gradient(top, #fcf7f9, #422f37);
}

.button:hover {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#999999), to(#000000));
  background: -moz-linear-gradient(top, #999999, #000000)
}


input[type='text']
{
  margin: 10px;
  width: 300px;
  height: 30px;
  font-size: 20px;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  padding: 4px;
  border-radius: 15px;
}

#controls
{
  margin-bottom: 15px;
}
.result, .jin
{
  width: 200px;
  float: left;
}

.result input[type='text']
{
  width: 100px;
}

.control
{
  padding: 2px;
  float: right;
}

#saved
{
  width: 45%;
  float: right;
}

#results
{
  float: left;
  width: 45%;
}

#results, #saved
{
   /* Prevent vertical gaps */
   line-height: 0;
   -webkit-column-count: 3;
   -webkit-column-gap:   0px;
   -moz-column-count:    3;
   -moz-column-gap:      0px;
   column-count:         3;
   column-gap:           0px;
}

#results img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

#saved img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #results, #saved {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #results, #saved  {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #results, #saved  {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #results, #saved  {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}